:root{
   --color: #008374;
   --bg: #F6F6F6;
}
.Apropos{
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 5%;
    /* margin-left: 20%; */
}
.part1,.part2{
    /* border: 1px solid #000; */
    width: 50%;
    margin-left: 4%;
    text-align: justify;
}
.part1 img{
    border-radius: 5%;
    width: 95%;
}
.part2 iframe{
    border-radius: 5%;
    width: 100%;
    height: 70%;
}
/* .part1{
    padding-right: 1%;
} */

/* Section Team */
.Team{
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
  border: 1px solid #000;
  flex-wrap: nowrap;
}
.one {
    grid-column: 0 ;
    grid-row: 1/4;
    border: 1px solid #000;
  }
  .two {
    grid-column: 2 ;
    grid-row: 1 / 4;
    border: 1px solid #000;
  }
  .three {
    grid-column: 3;
    grid-row: 1/ 4;
    border: 1px solid #000;
  }
  .four {
    grid-column: 4/6;
    grid-row: 1/4;
    border: 1px solid #000;
  }
  .five {
    grid-column: 1;
    /* grid-row: 4; */
    border: 1px solid #000;
}
    .six {
    grid-column: 2;
    /* grid-row: 4; */
    border: 1px solid #000;
  }  
  .seven {
    grid-column: 3;
    /* grid-row: 4; */
    border: 1px solid #000;

}
  .huit {
    grid-column: 4;
    /* grid-row: 4; */
    border: 1px solid #000;

}